//
// Setting my own colours etc for certain elements; say h4 "film title"
//
// Using https://github.com/pmarsceill/just-the-docs/blob/master/_sass/typography.scss  for the format 
// 

// h4 is the Film, Series etc TITLE

h4,
.text-delta {
  @include fs-3;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: $blue-200;
  font-style: italic;
  text-transform: none;
//  background-color: $grey-lt-000;
  margin-top: 20%;  
}

/// h5 is for the Provider; Netflix, iView etc

h5,
.text-delta {
  @include fs-3;
  font-weight: 500;
  color: $yellow-300;
  text-transform: none;
  margin-top: 7px;
  	
}
