//
// Setting my own colours etc for certain elements; say h4 "film title"
//
// Using https://github.com/pmarsceill/just-the-docs/blob/master/_sass/typography.scss  for the format 
// 

h4,
.text-delta {
  @include fs-3;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: $blue-200;
  font-style: italic;
  text-transform: none;
  background-color: $grey-lt-000;
}

/// h5 is for the Genre

h5,
.text-delta {
  @include fs-3;
  font-weight: 400;
  color: $yellow-300;
  text-transform: none;
  	
  }
  
/// h6 is for the Provider; Netflix, iView

h6,
.text-delta {
  @include fs-3;
  font-weight: 400;
  color: $purple-300;
  text-transform: none;
  
  	
  }